/* You can add global styles to this file, and also import other style files */
body {
    background: url(https://c4.wallpaperflare.com/wallpaper/24/828/863/simple-simple-background-jailsonsea-ultra-settings-white-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: monospace;
  }